<div fxLayout="row" fxLayoutAlign="center center">
  <h1 class=" mat-typography mat-display-3">Swerve</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <h3 class=" mat-typography mat-headline">Calculate the cost of your commute!</h3>
</div>
<mat-card>

  <mat-card-title>
    Car and Destination Info
  </mat-card-title>

<div fxLayout="Row">
  <div fxFlex="10%">
  <p>Make:</p>
  </div>
  <div>
      <mat-form-field appearance="outline">

          <input [(ngModel)]="make" matInput placeholder="eg. Toyota">
        </mat-form-field>
  </div>
</div>

<div fxLayout="Row">
  <div fxFlex="10%">
    <p>Model:</p>
  </div>
  <div>
      <mat-form-field appearance="outline">
          <input [(ngModel)]="model" matInput placeholder="eg. Camry">
        </mat-form-field>
  </div>
</div>

<div fxLayout="Row">
  <div fxFlex="10%" fxLayoutAlign="start center">
    <p>Year:</p>
  </div>
  <div fxLayoutAlign="end center">
      <mat-form-field appearance="outline">
          <input [(ngModel)]="year" matInput placeholder="eg. 2018">
        </mat-form-field>
  </div>
</div>

<div fxLayout="Row">
  <div fxFlex="10%" fxLayoutAlign="start center">
    <p>Transmission:</p>
  </div>
  <div fxLayoutAlign="end center">
      <mat-form-field appearance="outline">

          <input [(ngModel)]="trany" matInput placeholder="eg. Automatic (S8)">
        </mat-form-field>
  </div>
</div>

<div fxLayout="Row">
  <div fxFlex="10%" fxLayoutAlign="start center">
    <p>Drive:</p>
  </div>
  <div fxLayoutAlign="end center">
      <mat-form-field appearance="outline">

          <input [(ngModel)]="drive" matInput placeholder="eg. Front-Wheel Drive">
        </mat-form-field>
  </div>
</div>

<div>
<button mat-raised-button color="primary" fxLayoutAlign="end center" (click)="submitCarData()">Submit</button>
</div>

</mat-card>
